.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #02013a;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}
.navbar-logo {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar-logo img {
  width: 60px;
}
.navbar-logo p {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.navbar ul li {
  display: inline-block;
  color: white;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  font-weight: bolder;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 330px;
  height: 50px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
  margin-right: 100px;
}
.search-button input {
  width: 300px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: Poppins;
  font-size: 16px;
}
.search-button button {
  width: 100px;
  height: 51px;
  border-radius: 80px;
  border: 1px solid rgba(186, 178, 178, 0.564);
  background-color: rgba(186, 178, 178, 0.564);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.search-button button img {
  width: 40px;
}
