.item {
  width: 300px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item img {
  width: 300px;
}
.item p {
  margin: 6px 10px;
  display: flex;
  font-size: 24px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}
.item-credentials {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.item-designation {
  display: flex;
  color: #374151;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
}
.item-designation img {
  width: 25px;
  display: flex;
  margin-right: 10px;
}

.item-email {
  display: flex;
  color: #374151;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
}
.item-email img {
  width: 25px;
  display: flex;
  margin-right: 10px;
}
.item img:hover {
  transform: scale(1.05);
  transition: 0.6s;
}
