.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 33, 0.7), rgba(7, 0, 48, 0.8)),
    url("../../Assets/hero.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 900px;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
}

.hero-text p {
  max-width: 670px;
  margin: 10px auto 20px;
}
.explore {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
}
.explore img {
  width: 30px;
  margin-left: 20px;
}
