.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 33, 0.8), rgba(7, 0, 48, 0.7)),
    url("../../Assets/hero.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
}

.hero-text p {
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}
.explore {
  margin-top: 50px;
}
