.home-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-right: 90px;
  gap: 30px;
  font-family: "Ubuntu", sans-serif;
}
.home-content h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 40px;
  color: darkblue;
  font-weight: 500;
}
.home-content img {
  max-width: 300px;
}
.home-content p {
  font-size: 16px;
  padding: 10px;
}
.food {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;*/
  padding: 15px;
  margin: 15px 0;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 7px;
}
.food h2 {
  font-size: 1.5rem;
  color: darkblue;
  font-weight: 500;
  text-align: left;
}
.food-content {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  gap: 20px;
}
