.about-info {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}
.about-info h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.about-info hr {
  width: 300px;
  height: 6px;
  border-radius: 10px;
  background: orangered;
}
.about-info-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 70px;
}
